/* style-for-footer */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(219, 49, 120);
}

.footer-h3 {
  text-align: center;
  color: #fff;
  font-family: 'Gill Sans', sans-serif;
}

.footer-link {
  text-decoration: none;
  color: #ee9b00;
}
